DATABASE_URL=postgres://postgres:password@localhost:5432/phanty-db?sslmode=disable
API_PORT=4000
NODE_ENV=development

MAINTENANCE_MODE=false

# Comma-separated list of IPs that bypass maintenance mode (e.g. "127.0.0.1,10.0.0.1")
MAINTENANCE_IGNORE_IPS=

BETTER_AUTH_SECRET=supersecretkey
BETTER_AUTH_URL=http://localhost:4000